* {
    padding: 0;
    margin: 0;
}
.menu { 
    display: flex; 
    list-style: none; } 

.menu a{ 
    color: #282727; 
    text-decoration: none; 
    padding: 15px; 
<<<<<<< HEAD
    font-family:'Frank Ruhl Libre';
=======
 
>>>>>>> 83e9b3b5435717e98f7aa585e7c518cb4c0cb672
    font-size: 22px;
    font-weight: bold; 
    position: relative;
    right: 100px;
}

.logo{
    border: 5px;
<<<<<<< HEAD
    width: 190px;
=======
    width: 270px;
>>>>>>> 83e9b3b5435717e98f7aa585e7c518cb4c0cb672
    height: 170px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
<<<<<<< HEAD
    width: 23%;
    height: 5%;
    margin: auto;
    display: block
}
.table {
    width:  35%;
    right: 35%;
    margin: auto;
    padding: auto;
}
#img{
    width: 25%;
    height: 30%;
}

=======
    width: 150px;
    height: 150px;
    margin: auto;
    display: block
}
>>>>>>> 83e9b3b5435717e98f7aa585e7c518cb4c0cb672
