* {
    padding: 0;
    margin: 0;
}
.menu { 
    display: flex; 
    list-style: none; } 

.menu a{ 
    color: #282727; 
    text-decoration: none; 
    padding: 15px; 
    font-family:'Frank Ruhl Libre';
    font-size: 22px;
    font-weight: bold; 
    position: relative;
    right: 100px;
}

.logo{
    border: 5px;
    width: 270px;
    height: 170px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fondo{
    background-color: #f3ccd5;
}

.cajaContenedora{
    text-align: center;
    margin: auto;
    right: 100px;
    width: 800px;
    height: 700px;
}

.imagenes{
    height: 500px;
    width: 550px;
}