body {
    margin: auto;
    height: 100%;
}

*{
  padding: 0px;
  margin: 0px;
}
.menu { 
    display: flex; 
    list-style: none;
 } 

.menues{ 
    color: #282727; 
    text-decoration: none; 
    font-family: 'Helvetica Neue';
    font-size: 18px;
    margin: auto;
}

.logo{
  width: 10%;
  height: auto;
}

.cajaContenedora{
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

.imagenes{
    height: 500px;
    width: 550px;
}
  
  
nav ul {
  color: transparent;
  list-style-type: none;
  text-align: center;
}
 nav li{
   display: inline-flex;
 }

nav a{
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #282727;
  padding: 0px;
  width: -50px;
  font-size: 30px;
}


body{
    background-color: #ffff;
  }

.carro{
  height: 62px;
  width: 49px;
  margin-left: -25px;
  position: relative;
  top: -8px;
}
  .busqueda{
    height: 109px;
    width: 99px;
    margin-left: 51px;
    position: relative;
    top: 1px;
  }

  .hamburguesa{
    height: 62px;
    width: 49px;
    margin-left: -25px;
    position: relative;
    top: 2px;
  }
  .div{
    height: 5%;
  }

  .carru{
    height: 100%;
    width: 100%;
  }
  .inicio{
    width: 100%;
    height: 100%;
  }